<style>
    /* * {
      font-family: "Arial", serif;
      box-sizing: border-box;
      -webkit-print-color-adjust: exact;
    }
  
    body,
    html {
      margin: 0;
      padding: 0;
      position: relative;
    } */
  </style>
  <div>
    <span style="font-size: 16px">Historia Clínica</span>

  </div>